.advice-description {
  color: var(--light-cyan);
  text-align: center;
  font-size: 28px;
}

.text-description {
  width: 100%;
}

.advice-number {
  color: var(--neon-green);
  margin-top: 2rem;
  font-size: 14px;
  letter-spacing: 0.2rem;
}

.pattern {
  content: url(../../assets/images/pattern-divider-mobile.svg);
  margin-bottom: 2rem;
  @media (min-width: 40rem) {
    content: url(../../assets/images/pattern-divider-desktop.svg);
  }
}
