.button {
    display: grid;
    width: 4rem;
    height: 4rem;
    background: var(--neon-green);
    border-radius: 100px;
    border: none;
    margin-bottom: -2rem;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    box-shadow: 0 0 10px var(--neon-green), 0 0 20px var(--neon-green), 0 0 40px var(--neon-green);
}

.button:active {
    transform: rotate(360deg);
}

.icon {
    width: 24px;
    height: 24px;   
    align-self: center;
    justify-self: center;
}